
.bottom-navbar{
    background-color: white;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;   
}

.bottom-navbar-icon{
    margin: 10px 0px 0px 10px;
} 

.bottom-navbar-text{
    font-size: 10px;
    margin: 5px 0px 0px 0px;
}
/* 
.bottom-navbar-container{
    display: inline;
    border-bottom: 1px solid #F55951;
    border-bottom-width: 10px;
    width: max-content;
} */

svg {
    stroke: #F55951;
}

path{
    stroke: #F55951;
}

line{
    stroke: #F55951;
}