
.bottom-navbar{
    background-color: white;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;   
}

.bottom-navbar li {
    list-style-type: none;
}

.bottom-navbar a{
    text-decoration: none;
}

.bottom-navbar-icon{
    margin: 10px 0px 0px 10px;
} 

.bottom-navbar-text{
    font-size: 10px;
    margin: 5px 0px 0px 0px;
    color: #8F92A1;;
    
}
/* 
.bottom-navbar-container{
    display: inline;
    border-bottom: 1px solid #F55951;
    border-bottom-width: 10px;
    width: max-content;
} */

svg {
    stroke: #8F92A1;
}

path{
    /* stroke: #F55951; */
    stroke: #8F92A1;
}

line{
    /* stroke: #F55951; */
    stroke: #8F92A1;
}


.active svg{
    stroke: #F55951;
}

.active path{
    stroke: #F55951;
}

.active line{
    stroke: #F55951;
}

.active p {
    color: #F55951;
}

.active a {
    text-decoration: none;
    /* text-decoration-color: #F55951;
    text-decoration-thickness: 3px; */
}